---
import Layout from "../layouts/Layout.astro";
import Topbar from "../components/dashboard/Topbar.astro";
import Leftbar from "../components/dashboard/Leftbar.astro";
import PageTitle from "../components/dashboard/PageTitle.astro";
import ProtectDashboard from "../components/auth/ProtectDashboard";
import TodaysOrdersTable from "../components/dashboard/TodaysOrdersTable";
---

<Layout>
  <ProtectDashboard client:only="react" />
  <Topbar />
  <Leftbar />
  <PageTitle title="Dashboard" />

  <div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div class="text-primary position-relative">
                        <i class="iconoir-dollar-circle fs-28"></i>
                        <span class="s-box bg-primary-subtle"></span>
                      </div>
                    </div>
                    <div class="flex-grow-1 ms-2 text-truncate">
                      <h6 class="text-dark mb-0 fw-semibold fs-20">$780.00</h6>
                      <p class="text-muted mb-0 fw-medium fs-13">
                        Total Revenue
                      </p>
                    </div><!--end media-body-->
                  </div><!--end media-->
                  <div class="align-self-center">
                    <span
                      class="badge bg-success-subtle text-success border border-success px-2"
                      >5.8%</span
                    >
                  </div>
                </div>
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div class="text-success position-relative">
                        <i class="iconoir-cart fs-28"></i>
                        <span class="s-box bg-success-subtle"></span>
                      </div>
                    </div>
                    <div class="flex-grow-1 ms-2 text-truncate">
                      <h6 class="text-dark mb-0 fw-semibold fs-20">730</h6>
                      <p class="text-muted mb-0 fw-medium fs-13">New Order</p>
                    </div><!--end media-body-->
                  </div><!--end media-->
                  <div class="align-self-center">
                    <span
                      class="badge bg-success-subtle text-success border border-success px-2"
                      >8.1%</span
                    >
                  </div>
                </div>
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div class="text-warning position-relative">
                        <i class="iconoir-percentage-circle fs-28"></i>
                        <span class="s-box bg-warning-subtle"></span>
                      </div>
                    </div>
                    <div class="flex-grow-1 ms-2 text-truncate">
                      <h6 class="text-dark mb-0 fw-semibold fs-20">161</h6>
                      <p class="text-muted mb-0 fw-medium fs-13">Sessions</p>
                    </div><!--end media-body-->
                  </div><!--end media-->
                  <div class="align-self-center">
                    <span
                      class="badge bg-danger-subtle text-danger border border-danger px-2"
                      >0.7%</span
                    >
                  </div>
                </div>
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-6 col-lg-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <div class="text-pink position-relative">
                        <i class="iconoir-hexagon-dice fs-28"></i>
                        <span class="s-box bg-pink-subtle"></span>
                      </div>
                    </div>
                    <div class="flex-grow-1 ms-2 text-truncate">
                      <h6 class="text-dark mb-0 fw-semibold fs-20">2.8%</h6>
                      <p class="text-muted mb-0 fw-medium fs-13">
                        Conversion Rate
                      </p>
                    </div><!--end media-body-->
                  </div><!--end media-->
                  <div class="align-self-center">
                    <span
                      class="badge bg-success-subtle text-success border border-success px-2"
                      >1.9%</span
                    >
                  </div>
                </div>
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-title">Income vs Expense</h4>
                  </div><!--end col-->
                  <div class="col-auto">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="btn btn-sm btn-outline-light dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="icofont-calendar fs-5 me-1"></i> This Year<i
                          class="las la-angle-down ms-1"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Today</a>
                        <a class="dropdown-item" href="#">Last Week</a>
                        <a class="dropdown-item" href="#">Last Month</a>
                        <a class="dropdown-item" href="#">This Year</a>
                      </div>
                    </div>
                  </div><!--end col-->
                </div>
                <!--end row-->
              </div><!--end card-header-->
              <div class="card-body pt-0">
                <div id="Total-sales" class="apex-charts"></div>
              </div><!--end card-body-->
            </div><!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-title">Sessions Device</h4>
                  </div><!--end col-->
                </div>
                <!--end row-->
              </div><!--end card-header-->
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-12 col-md-6 align-self-center">
                    <div id="ana_device" class="mt-n2"></div>
                  </div><!--end col-->
                  <div class="col-12 col-md-6 align-self-center">
                    <div class="text-center">
                      <h6 class="text-dark mb-2 fw-semibold fs-24">96.8%</h6>
                      <p class="text-muted mb-2 fw-medium fs-13">
                        All Device Success ratio
                      </p>
                      <ul
                        class="list-unstyled d-flex text-center justify-content-center url-list mb-0"
                      >
                        <li class="list-item ms-1 mb-1">
                          <i class="fas fa-circle fs-10" style="color: #2a76f4;"
                          ></i>
                          <span class="fs-13">Mobile</span>
                        </li>
                        <li class="list-item ms-1 mb-1">
                          <i class="fas fa-circle fs-10" style="color: #c693ff;"
                          ></i>
                          <span class="fs-13">Tablet</span>
                        </li>
                        <li class="list-item ms-1 mb-0">
                          <i class="fas fa-circle fs-10" style="color: #67c8ff;"
                          ></i>
                          <span class="fs-13">Desktop</span>
                        </li>
                      </ul>
                    </div>
                  </div><!--end col-->
                </div><!--end row-->
              </div><!--end card-body-->
            </div><!--end card-->
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-title">Traffic Analytic</h4>
                  </div><!--end col-->
                </div>
                <!--end row-->
              </div><!--end card-header-->
              <div class="card-body pt-0">
                <div class="row mb-2">
                  <div class="col-12 col-md-6 align-self-center">
                    <div class="text-center">
                      <h6 class="text-dark mb-2 fw-semibold fs-24">
                        91,580 <span
                          class="badge text-success fw-medium border border-success fs-9"
                          ><i class="icofont-arrow-up fs-10"></i>11.2%</span
                        >
                      </h6>
                      <p class="text-muted mb-0 fw-medium fs-13">
                        Total views from 3 platforms
                      </p>
                    </div>
                  </div><!--end col-->
                  <div class="col-12 col-md-6 align-self-center">
                    <div class="bubble-container d-none d-md-block">
                      <div
                        class="bubble d-flex justify-content-center align-items-center"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="30%"
                      >
                        <i class="icofont-twitter fs-24"></i>
                      </div>
                      <div
                        class="bubble d-flex justify-content-center align-items-center"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="50%"
                      >
                        <i class="icofont-facebook fs-24"></i>
                      </div>
                      <div
                        class="bubble d-flex justify-content-center align-items-center"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="20%"
                      >
                        <i class="icofont-instagram fs-18"></i>
                      </div>
                    </div>
                  </div><!--end col-->
                </div><!--end row-->
              </div><!--end card-body-->
            </div><!--end card-->
          </div>
          <!--end col-->
        </div><!--end row-->
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-4">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-title">Top Selling by City</h4>
                  </div><!--end col-->
                  <!-- <div class="col-auto">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="btn btn-sm btn-outline-light dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="icofont-calendar fs-5 me-1"></i> This Month<i
                          class="las la-angle-down ms-1"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Today</a>
                        <a class="dropdown-item" href="#">Last Week</a>
                        <a class="dropdown-item" href="#">Last Month</a>
                        <a class="dropdown-item" href="#">This Year</a>
                      </div>
                    </div>
                  </div> -->

                  <!--end col-->
                </div>
                <!--end row-->
              </div><!--end card-header-->
              <div class="card-body pt-0">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <tbody>
                      <tr class="">
                        <td class="px-0">
                          <div class="d-flex align-items-center">
                            <div class="flex-grow-1 text-truncate">
                              <h6 class="m-0 text-truncate fs-13">Brampton</h6>
                              <div class="d-flex align-items-center">
                                <div
                                  class="progress bg-primary-subtle w-100"
                                  style="height:2px;"
                                  role="progressbar"
                                  aria-label="Success example"
                                  aria-valuenow="25"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                >
                                  <div
                                    class="progress-bar bg-primary"
                                    style="width: 85%"
                                  >
                                  </div>
                                </div>
                                <small class="flex-shrink-1 ms-1">85%</small>
                              </div>
                            </div><!--end media body-->
                          </div><!--end media-->
                        </td>
                        <td class="px-0 text-end"
                          ><span
                            class="text-body ps-2 align-self-center text-end fw-medium"
                            >$5860.00</span
                          ></td
                        >
                      </tr><!--end tr-->
                      <tr class="">
                        <td class="px-0">
                          <div class="d-flex align-items-center">
                            <!-- <img
                              src="assets/images/flags/spain_flag.jpg"
                              class="me-2 align-self-center thumb-xs rounded"
                              alt="..."
                            /> -->
                            <div class="flex-grow-1 text-truncate">
                              <h6 class="m-0 text-truncate fs-13">
                                Mississauga
                              </h6>
                              <div class="d-flex align-items-center">
                                <div
                                  class="progress bg-primary-subtle w-100"
                                  style="height:2px;"
                                  role="progressbar"
                                  aria-label="Success example"
                                  aria-valuenow="25"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                >
                                  <div
                                    class="progress-bar bg-primary"
                                    style="width: 78%"
                                  >
                                  </div>
                                </div>
                                <small class="flex-shrink-1 ms-1">78%</small>
                              </div>
                            </div><!--end media body-->
                          </div><!--end media-->
                        </td>
                        <td class="px-0 text-end"
                          ><span
                            class="text-body ps-2 align-self-center text-end fw-medium"
                            >$5422.00</span
                          ></td
                        >
                      </tr><!--end tr-->
                      <tr class="">
                        <td class="px-0">
                          <div class="d-flex align-items-center">
                            <!-- <img
                              src="assets/images/flags/french_flag.jpg"
                              class="me-2 align-self-center thumb-xs rounded"
                              alt="..."
                            /> -->
                            <div class="flex-grow-1 text-truncate">
                              <h6 class="m-0 text-truncate fs-13">
                                Scarboarough
                              </h6>
                              <div class="d-flex align-items-center">
                                <div
                                  class="progress bg-primary-subtle w-100"
                                  style="height:2px;"
                                  role="progressbar"
                                  aria-label="Success example"
                                  aria-valuenow="25"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                >
                                  <div
                                    class="progress-bar bg-primary"
                                    style="width: 71%"
                                  >
                                  </div>
                                </div>
                                <small class="flex-shrink-1 ms-1">71%</small>
                              </div>
                            </div><!--end media body-->
                          </div><!--end media-->
                        </td>
                        <td class="px-0 text-end"
                          ><span
                            class="text-body ps-2 align-self-center text-end fw-medium"
                            >$4587.00</span
                          ></td
                        >
                      </tr><!--end tr-->
                      <tr class="">
                        <td class="px-0">
                          <div class="d-flex align-items-center">
                            <!-- <img
                              src="assets/images/flags/germany_flag.jpg"
                              class="me-2 align-self-center thumb-xs rounded"
                              alt="..."
                            /> -->
                            <div class="flex-grow-1 text-truncate">
                              <h6 class="m-0 text-truncate fs-13">
                                North York
                              </h6>
                              <div class="d-flex align-items-center">
                                <div
                                  class="progress bg-primary-subtle w-100"
                                  style="height:2px;"
                                  role="progressbar"
                                  aria-label="Success example"
                                  aria-valuenow="25"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                >
                                  <div
                                    class="progress-bar bg-primary"
                                    style="width: 65%"
                                  >
                                  </div>
                                </div>
                                <small class="flex-shrink-1 ms-1">65%</small>
                              </div>
                            </div><!--end media body-->
                          </div><!--end media-->
                        </td>
                        <td class="px-0 text-end"
                          ><span
                            class="text-body ps-2 align-self-center text-end fw-medium"
                            >$3655.00</span
                          ></td
                        >
                      </tr><!--end tr-->
                      <tr class="">
                        <td class="px-0">
                          <div class="d-flex align-items-center">
                            <div class="flex-grow-1 text-truncate">
                              <h6 class="m-0 text-truncate fs-13">Markham</h6>
                              <div class="d-flex align-items-center">
                                <div
                                  class="progress bg-primary-subtle w-100"
                                  style="height:2px;"
                                  role="progressbar"
                                  aria-label="Success example"
                                  aria-valuenow="25"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                >
                                  <div
                                    class="progress-bar bg-primary"
                                    style="width: 48%"
                                  >
                                  </div>
                                </div>
                                <small class="flex-shrink-1 ms-1">48%</small>
                              </div>
                            </div><!--end media body-->
                          </div><!--end media-->
                        </td>
                        <td class="px-0 text-end"
                          ><span
                            class="text-body ps-2 align-self-center text-end fw-medium"
                            >$3325.00</span
                          ></td
                        >
                      </tr><!--end tr-->
                    </tbody>
                  </table>
                  <!--end table-->
                </div><!--end /div-->
              </div><!--end card-body-->
            </div><!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-12 col-lg-8">
            <div class="card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">
                    <h4 class="card-title">Top Selling by Cities</h4>
                  </div><!--end col-->
                </div>
                <!--end row-->
              </div><!--end card-header-->
              <div class="card-body pt-0">
                <div id="map_1" class="w-100" style="height: 297px"></div>
              </div><!--end card-body-->
            </div><!--end card-->
          </div>
          <!--end col-->
        </div><!--end row-->
        <div class="col-lg-12">
          <TodaysOrdersTable client:load />
          <!--end col-->
        </div><!--end row-->
      </div><!-- container -->

      <!--Start Footer-->

      <footer class="footer text-center text-sm-start d-print-none">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 px-0">
              <div class="card mb-0 rounded-bottom-0 border-0">
                <div class="card-body">
                  <p class="text-muted mb-0">
                    ©
                    <script is:inline>
                      document.write(new Date().getFullYear());
                    </script>
                    Spice Tiffin
                    <span class="text-muted d-none d-sm-inline-block float-end">
                      Design with
                      <i class="iconoir-heart-solid text-danger align-middle"
                      ></i>
                      by IGNITAX</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!--end footer-->
    </div>
    <!-- end page content -->
  </div>
</Layout>
