---
import AuthLayout from "../layouts/AuthLayout.astro";
import LoginForm from "../components/auth/LoginForm.tsx";
---

<AuthLayout>
  <div class="container-xxl">
    <div class="row vh-100 d-flex justify-content-center">
      <div class="col-12 align-self-center">
        <div class="card-body">
          {/* Might need adjustment based on desired centering */}
          <div class="row">
            <div class="col-lg-4 mx-auto">
              <div class="card">
                <div class="card-body p-0 bg-black auth-header-box rounded-top">
                  <div class="text-center p-3">
                    <a href="/" class="logo logo-admin">
                      {/* Link to home or index */}
                      <img
                        src="/assets/images/logo-main.png"
                        height="95"
                        alt="logo"
                        class="auth-logo"
                      />
                    </a>
                    <h4 class="mt-3 mb-1 fw-semibold text-white fs-18">
                      Let's Get Started
                    </h4>
                  </div>
                </div>
                <div class="card-body pt-0">
                  <LoginForm client:load />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></AuthLayout
>
