---
interface Props {
  title: string;
  breadcrumb?: string;
  activePage?: string;
}

const {
  title,
  breadcrumb = "Admin Dashboard",
  activePage = "Dashboard",
} = Astro.props;
---

<div class="page-title-box">
  <div class="container-fluid">
    <div class="row gap-0">
      <div class="col-sm-12">
        <div
          class="page-title-content d-sm-flex justify-content-sm-between align-items-center"
        >
          <h4 class="page-title mt-3 mt-md-0">{title}</h4>
          <div>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="#">{breadcrumb}</a>
              </li>
              <li class="breadcrumb-item active">{activePage}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
